[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pylint = "*"
behave = "*"
requests-mock = "*"
autopep8 = "*"
flake8 = "*"

[packages]
pika= "*"
flask = "*"
flask-swagger-ui = "*"
pyaml = "*"
structlog = "*"
flask-cors = "*"
schema = "*"

[requires]
python_version = "3.7"
